Akıllı Müşteri İçgörü Asistanı v2.2 - Final.json
{
    "name": "Akıllı Müşteri İçgörü Asistanı v2.2 - Final Fix",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "f5d4c49e-b8f6-42d4-a019-8e6b6429d313",
                "responseMode": "responseNode",
                "options": {
                    "responseHeaders": {
                        "entries": [
                            {
                                "name": "Access-Control-Allow-Origin",
                                "value": "*"
                            },
                            {
                                "name": "Access-Control-Allow-Headers",
                                "value": "Content-Type"
                            },
                            {
                                "name": "Access-Control-Allow-Methods",
                                "value": "POST, OPTIONS"
                            }
                        ]
                    }
                }
            },
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2.1,
            "position": [
                380,
                240
            ],
            "id": "f99b9321-4fce-4661-922c-ee29cf6c021d",
            "name": "Webhook",
            "webhookId": "f5d4c49e-b8f6-42d4-a019-8e6b6429d313"
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "5d5dce59-1c08-4233-a240-59bf49028241",
                            "name": "name",
                            "value": "={{ $json.body.name}}",
                            "type": "string"
                        },
                        {
                            "id": "91514ee0-93cc-4316-9267-61690c9da3a2",
                            "name": "email",
                            "value": "={{ $json.body.email}}",
                            "type": "string"
                        },
                        {
                            "id": "f7598411-442d-4d92-9fc9-8ca6b04dbb61",
                            "name": "review",
                            "value": "={{ $json.body.review }}",
                            "type": "string"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Save Original Data",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                560,
                240
            ],
            "id": "65ad684a-c08c-487e-8d60-512b797008e7"
        },
        {
            "parameters": {
                "operation": "read",
                "documentId": {
                    "__rl": true,
                    "value": "1CcQbucGVUjc-KT4O4noLwQ8dTJVdBR8qQ8loJkdWS7I",
                    "mode": "list"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list"
                },
                "filters": {
                    "conditions": [
                        {
                            "id": "7662c19a-3f62-473d-815d-85fbf80e608d",
                            "leftValue": "Email",
                            "rightValue": "={{ $node[\"Save Original Data\"].json.email }}",
                            "operator": "equal"
                        }
                    ]
                },
                "options": {}
            },
            "name": "Lookup History",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                740,
                340
            ],
            "id": "e9a0b1c0-d6ef-463d-b37c-961c21bddf8e",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "wqKil85WMWsXWztO",
                    "name": "Google Sheets account"
                }
            },
            "alwaysOutputData": true
        },
        {
            "parameters": {
                "jsCode": "const history = $input.all();\nif (history.length === 0 || !history[0].json.Timestamp) {\n  return [{ json: { history_text: \"Bu müşteri ile ilk temasımız.\" } }];\n}\n\nconst summary = history.slice(-3).map(h => `- [${h.json.Timestamp}] Duygu: ${h.json.Sentiment}, Yorum: ${h.json.Review}`).join('\\n');\nreturn [{ json: { history_text: \"Müşterinin son 3 yorumu:\\n\" + summary } }];"
            },
            "name": "Format History",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                920,
                340
            ],
            "id": "c7a0b1c0-d6ef-463d-b37c-961c21bddf8e"
        },
        {
            "parameters": {
                "mode": "combine",
                "combineBy": "combineByPosition",
                "options": {}
            },
            "type": "n8n-nodes-base.merge",
            "typeVersion": 3.2,
            "position": [
                1100,
                240
            ],
            "id": "f7a0b1c0-d6ef-463d-b37c-961c21bddf8e",
            "name": "Merge Original and History"
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.review }}",
                "hasOutputParser": true,
                "messages": {
                    "messageValues": [
                        {
                            "type": "HumanMessagePromptTemplate",
                            "message": "=Sen Türkiye'nin en iyi ve en dikkatli müşteri deneyimi uzmanısın. \n\nMÜŞTERİ GEÇMİŞİ:\n{{ $json.history_text }}\n\nŞu anki yorum:\n{{ $json.review }}\n\nLütfen sadece JSON formatında cevap ver."
                        }
                    ]
                }
            },
            "type": "@n8n/n8n-nodes-langchain.chainLlm",
            "typeVersion": 1.7,
            "position": [
                1280,
                240
            ],
            "id": "00398bcb-d6ef-463d-b37c-961c21bddf8e",
            "name": "Basic LLM Chain"
        },
        {
            "parameters": {
                "model": "llama-3.3-70b-versatile",
                "options": {
                    "temperature": 0.2
                }
            },
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                1280,
                420
            ],
            "id": "cb25c02a-3e3b-42ad-8239-3a06a8b0a751",
            "name": "Groq Chat Model",
            "credentials": {
                "groqApi": {
                    "id": "ViSQoNpbR944gxu2",
                    "name": "Groq account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "let raw = $json.text || $json.choices?.[0]?.message?.content || JSON.stringify($json);\nraw = raw.trim().replace(/^```json\\n/, '').replace(/\\n```$/g, '');\nconst parsed = JSON.parse(raw);\nconst original = $node[\"Merge Original and History\"].json;\nreturn [{ json: { ...original, ...parsed } }];"
            },
            "name": "Parse Result",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1500,
                240
            ],
            "id": "c698b1d0-faeb-4633-9d8c-206853e05439"
        },
        {
            "parameters": {
                "conditions": {
                    "conditions": [
                        {
                            "id": "dc9c8b7c-d6ef-463d-b37c-961c21bddf8e",
                            "leftValue": "={{ $json.sentiment_score }}",
                            "rightValue": 40,
                            "operator": "smaller",
                            "type": "number"
                        }
                    ]
                }
            },
            "name": "Check Priority",
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                1680,
                240
            ],
            "id": "d0a0b1c0-d6ef-463d-b37c-961c21bddf8e"
        },
        {
            "parameters": {
                "sendTo": "eyuphanpetek@gmail.com",
                "subject": "=ALERT: Düşük Müşteri Memnuniyeti ({{ $json.sentiment.toUpperCase() }})",
                "message": "=İsim: {{ $json.name }}\nE-posta: {{ $json.email }}\nYorum: {{ $json.review }}\n\nYapay Zeka Özeti: {{ $json.summary }}",
                "options": {}
            },
            "name": "Notify Owner (Gmail)",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2.1,
            "position": [
                1880,
                140
            ],
            "id": "f0a0b1c0-d6ef-463d-b37c-961c21bddf8e",
            "credentials": {
                "gmailOAuth2Api": {
                    "id": "PLACEHOLDER",
                    "name": "Gmail account"
                }
            },
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "operation": "appendOrUpdate",
                "documentId": {
                    "__rl": true,
                    "value": "1CcQbucGVUjc-KT4O4noLwQ8dTJVdBR8qQ8loJkdWS7I",
                    "mode": "list"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "gid=0",
                    "mode": "list"
                },
                "columns": {
                    "mappingMode": "defineBelow",
                    "value": {
                        "Name": "={{ $json.name }}",
                        "Timestamp": "={{ new Date().toISOString() }}",
                        "Email": "={{ $json.email }}",
                        "Review": "={{ $json.review }}",
                        "Sentiment": "={{ $json.sentiment }}",
                        "Score": "={{ $json.sentiment_score }}",
                        "Summary": "={{ $json.summary }}",
                        "Suggested_Reply": "={{ $json.suggested_reply }}"
                    },
                    "matchingColumns": [
                        "Timestamp"
                    ]
                }
            },
            "name": "Final Save",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                2100,
                240
            ],
            "id": "597750d0-a7a5-4dc9-9237-68a53f56bc1d",
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "wqKil85WMWsXWztO",
                    "name": "Google Sheets account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json }}",
                "options": {}
            },
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1.4,
            "position": [
                2300,
                240
            ],
            "id": "1a82d9f1-b7bd-4d8e-acc3-90172ce7ad87",
            "name": "Respond to Webhook"
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Save Original Data",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Save Original Data": {
            "main": [
                [
                    {
                        "node": "Lookup History",
                        "type": "main",
                        "index": 0
                    },
                    {
                        "node": "Merge Original and History",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Lookup History": {
            "main": [
                [
                    {
                        "node": "Format History",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Format History": {
            "main": [
                [
                    {
                        "node": "Merge Original and History",
                        "type": "main",
                        "index": 1
                    }
                ]
            ]
        },
        "Merge Original and History": {
            "main": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Basic LLM Chain",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Basic LLM Chain": {
            "main": [
                [
                    {
                        "node": "Parse Result",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parse Result": {
            "main": [
                [
                    {
                        "node": "Check Priority",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Check Priority": {
            "main": [
                [
                    {
                        "node": "Notify Owner (Gmail)",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Final Save",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Notify Owner (Gmail)": {
            "main": [
                [
                    {
                        "node": "Final Save",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Final Save": {
            "main": [
                [
                    {
                        "node": "Respond to Webhook",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}